name: test

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches:
      - 'master'
    paths-ignore:
      - '**.md'
  pull_request:
    branches:
      - 'master'
    paths-ignore:
      - '**.md'

env:
  BUILD_TAG: nextcloud:test
  CONTAINER_NAME: nextcloud

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        docker_file:
          - Dockerfile-25
          - Dockerfile-26
          - Dockerfile-27
        dir:
          - mysql
          - pgsql
          - sqlite
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: Build
        uses: docker/bake-action@v3
        with:
          targets: image-local
        env:
          DEFAULT_TAG: ${{ env.BUILD_TAG }}
          DOCKERFILE: ${{ matrix.docker_file }}
      -
        name: Start
        run: |
          docker compose up -d
        working-directory: test/${{ matrix.dir }}
        env:
          NEXTCLOUD_IMAGE: ${{ env.BUILD_TAG }}
          NEXTCLOUD_CONTAINER: ${{ env.CONTAINER_NAME }}
      -
        name: Check container logs
        uses: crazy-max/.github/.github/actions/container-logs-check@main
        with:
          container_name: ${{ env.CONTAINER_NAME }}
          log_check: "ready to handle connections"
      -
        name: Logs
        if: always()
        run: |
          docker compose logs
        working-directory: test/${{ matrix.dir }}
        env:
          NEXTCLOUD_IMAGE: ${{ env.BUILD_TAG }}
          NEXTCLOUD_CONTAINER: ${{ env.CONTAINER_NAME }}
